@media screen and (max-width: 899px) {
  .main-nav {
    display: none;
  }

  .header .btn {
    display: none;
  }

  .logo {
    font-size: 18px;
  }

  .hero .title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .hero .subtitle {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .hero-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
     }

  .hero-right-side img {
    width: 250px;
  }

  .slider .title {
    font-size: 40px;
  }

}

@media screen and (max-width:640px) {
  body {
    font-size: 16px;
  }

  .hero-right-side img {
    width: 150px;
  }

  .hero .title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .hero .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .btn {
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 16px;
  }

  .slider .title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .slider .descr {
    margin-bottom: 20px;
  }

  .slider-pagination-dots {
    gap: 10px;
  }
  
  .slider-pagination-dot {
    min-width: 15px;
    height: 15px;
  }
}

@media screen and (max-width:480px) {
  .hero .title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .hero .subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .hero-left-side {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .slider.container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .slider .title {
    font-size: 24px;
  }
}

@media screen and (min-width: 900px) {
  .mobile-menu-btn {
    display: none;
    background-color: #000;
  }

  .mobile-menu {
    display: none;
  }
}